HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Import Cloudinary ###
BACK/assets/*
!BACK/assets/assets.json

###  Environnements files (secrets) ###
.env
.env.*
**/.env
**/.env.*
FRONT/.env*
BATCH/.env*
BACK/.env*

# Node (FRONT / BATCH)
**/node_modules/
FRONT/dist/
FRONT/build/
BATCH/dist/
BATCH/build/

# Logs
*.log


application-local.properties